* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
}